/*
--------------------------------------------
ESTRUTURAÇÃO BASE (Palupa Framework v1.1)
--------------------------------------------
** IMPORTS
** VARIÁVEIS
** ESTILOS GERAIS PARA AS PÁGINAS
*** BODY
**** TOPO
**** RODAPÉ
**** COPYRIGHT
**** PÁGINA INICIAL
**** PÁGINAS INTERNAS
**** EXTRAS
**** BOTÕES
**** @MEDIA
*/

// IMPORTS
	@import 'classes';

// VARIÁVEIS
	$rosapalupa: rgb(230,30,95);
	$azul: rgb(56,51,165);
	$roxo: rgb(36,33,84);

// ESTILOS GERAIS
	body{
		font-family: 'Lato', sans-serif;
		font-size: 16px;
		font-weight: 400;
		position: relative;
		color: white;
		background-color: $roxo;							
	}
	a,
	button,
	input{
		&:hover,
		&:focus{			
			text-decoration: none;
			outline: none;
		}
	}
	ul{
		padding: 0;
	}

// PÁGINA EM BREVE
	.pg-em-breve{
		.fundo{
			position: fixed;
		    top: 0;
		    right: 0;
		    bottom: 0;
		    left: 0;
		    overflow: hidden;
		    z-index: -100;
		    background: url(../img/fundo.png) no-repeat;
			background-size: cover;		    		    		    
		    #video{
		    	@include blur(3px);
				position: absolute;
				top: 50%;
				left: 50%;
				width: auto;
				height: auto;
				min-width: 100%;
				min-height: 100%;
				-webkit-transform: translate(-50%, -50%);
				   -moz-transform: translate(-50%, -50%);
				    -ms-transform: translate(-50%, -50%);
				    	transform: translate(-50%, -50%);
			}
			.lente{
				position: absolute;
				min-width: 100%;
				min-height: 100%;
				background-color: rgba(20,20,20,0.6);
			}
			.conteudo{
				@include centroH;
				width: 60%;
				height: 100%;
				text-align: center;
				.row{
					margin: 0;
				}
				.col-sm-6{
					padding: 20px;
				}
				.esquerda{
					padding-left: 10%;
				}
				.direita{
					padding-right: 10%;
				}
				.logo{
					display: inline-block;
					h1{
						height: 120px;
    					width: 306px;
						background: url(../img/logo.png) no-repeat;
						background-size: cover;
						text-indent: -9999em;
					}
				}
				.info{
					background-color: rgba(0,0,0,0.3);
					width: 90%;					
					max-width: 700px;
					height: 105px;
					margin: 0 auto;
					padding-top: 5px;
					.texto{
						font-weight: 100;						
						font-size: 30px;
						display: block;
						text-align: center;
						padding: 10px;
						margin: 0;
						line-height: 100%;
						vertical-align: top;
					}
					.titulo{
						font-weight: 900;
						text-transform: uppercase;
						font-size: 36px;
						text-align: center;
						padding: 10px;
						margin: 0;
						line-height: 100%;
						vertical-align: top;
					}
				}
				.sociais{
					background-color: rgba(0,0,0,0.3);
					min-height: 220px;
					max-width: 300px;
					text-align: left;
					padding: 10px 15px;
					margin: 0 auto;
					p{
						font-size: 20px;
						font-weight: 300;
						letter-spacing: 0.04em;
						margin: 0;
						color: rgb(150,150,150);
						strong{
							font-weight: 300;
						}
					}
					ul{
						text-align: center;
						li{
							display: inline-block;
							margin: 20px 15px;
							a{
								i{
									font-size: 50px;
									color: white;
								}
								&:hover{
									i{
										color: $rosapalupa;
									}
								}
							}
						}
					}
				}
				.contato{												
					max-width: 300px;
					height: 550px;
					margin: 0 auto;					
					.formulario{
						.wpcf7-response-output {
							margin-top: 60px;
						}
						form{							
							text-align: left;
							label{
								display: block;
								background-color: rgba(0,0,0,0.3);
								color: rgb(150,150,150);
								font-weight: 400;
								padding: 5px 5px 5px 10px;;
								p{
									margin:0;
									line-height: 100%;
									width: 80px;
									display: inline-block;
									vertical-align: top;
									padding-top: 2px;
								}								
							}
							input{								
								display: inline-block;
								color: white;
								border: none;
								padding-left: 4px;
								background-color: transparent;								
								width: 195px;
							}
							#mensagem{
								display: inline-block;
								padding-left: 4px;
								background-color: transparent;
								border:none;
								resize: none;
								color: white;
								width: 195px;
								&:focus{
									outline: none;
								}								
							}
							#enviar{
								width: 100px;
								line-height: 35px;
								background-color: $azul;
								border-radius: 2px;
								float: right;
								letter-spacing: 0.1em;
							}
						}
					}
				}
			}
			footer{
				position: absolute;
				z-index: 2;
				width: 100%;
				bottom: 0;				
				text-align: center;
				min-height: 20px;
				p{
					font-size: 20px;
					text-align: left;
					padding-left: 20px;
				}
				#carrossel-rodape {
					padding: 15px 0;
					.item {
					    position: relative;
					    height: 100px;
					    width: 20px;
					    margin: 0 auto;
					    
					    img {	
						 	width: auto !important;
						    max-height: 45px;
						}
					} 
				}
				ul{
					background-color: rgba(0,0,0,0.3);
					margin: 0;
					padding: 10px;
					li{						
						text-align: center;
						margin: 0 20px;
						font-size: 15px;
						line-height: 15px;
						display: inline-block;
						color: rgb(150,150,150);
					}
				}
			}
		}
	}

//MEDIA		
    @media (max-width: 1450px) {
    	.pg-em-breve .fundo .conteudo{
    		.esquerda{
				padding-left: 5%!important;
    		}
    		.direita{
				padding-right: 5%!important;
    		}
    	}
    }
    @media (max-width: 1250px) {
    	.pg-em-breve .fundo .conteudo{
    		.esquerda{
				padding-left: 0!important;
    		}
    		.direita{
				padding-right: 0!important;
    		}
    	}
    }
    @media (max-width: 1150px) {
    	.pg-em-breve .fundo .conteudo{
    		width: 75%;
    	}
    	.pg-em-breve .fundo .conteudo .info{
		    height: 105px;
		    max-width: 500px;
		    width: 100%;
    	}
    	.pg-em-breve .fundo .conteudo .info .titulo{
    		font-size: 24px;
    	}
    	.pg-em-breve .fundo .conteudo .info .texto{
    		font-size: 24px;
    	}
    	.pg-em-breve .fundo .conteudo .col-sm-6{
    		padding: 10px!important;
    	}
    	.pg-em-breve .fundo .conteudo .sociais{
    		overflow: hidden;
    	}

    }
    @media (max-width: 900px) {
    	.pg-em-breve .fundo .conteudo .sociais ul li{
    		margin: 20px 9px;
    	}
    	.pg-em-breve .fundo .conteudo .sociais ul li a i{
    		font-size: 40px;
    	}
    	.pg-em-breve .fundo .conteudo .sociais p{
    		font-size: 18px;
    	}
    	.pg-em-breve .fundo .conteudo .logo h1{
    		height: 100px;
    		width: 254px;
    	}
    	.pg-em-breve .fundo .conteudo{
			width: 85%;
		}
		.pg-em-breve .fundo .conteudo .info{			
			margin-bottom: 20px;
		}
    }
    @media (max-width: 767px) {
	    .pg-em-breve .fundo {	        
	        height: 1275px;
	        position: static;
	        #video {
		        display: none;
		    }
		}
		.pg-em-breve .fundo .conteudo .sociais{
			margin-bottom: 20px;
		}
		.pg-em-breve .fundo .conteudo .contato{
			height: 500px;
		}
		.pg-em-breve .fundo .conteudo .col-sm-6{
			max-height: 400px;			
		}
		.pg-em-breve .fundo .conteudo .info{			
			.titulo{
				font-size: 22px!important;
			}
		}
		.pg-em-breve .fundo .conteudo .info .texto{
			font-size: 20px;			
		}
    }
    @media (max-width: 500px) {
		.pg-em-breve .fundo .conteudo .info{
			height: 119px!important;
		}
    }
    @media (max-width: 400px) {
		.pg-em-breve .fundo .conteudo{
    		width: 98%;
    	}
		.pg-em-breve .fundo .conteudo .contato .formulario form input{
			width: 185px;
		}
	}
	@media (max-width: 360px) {
		.pg-em-breve .fundo .conteudo .contato .formulario form input{
			width: 160px;
		}
	}
   
    
